
.vs/PPECampagne/v15/Server/sqlite3/db.lock
.vs/PPECampagne/v15/Server/sqlite3/storage.ide
.vs/PPECampagne/v15/Server/sqlite3/storage.ide-shm
.vs/PPECampagne/v15/Server/sqlite3/storage.ide-wal
AgenceBO/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AgenceBO/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AgenceBO/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AgenceBO/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AgenceBO/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AgenceBO/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.cache
*.cache
.vs/PPECampagne/v15/.suo
GesCampagneGUI/App.config
