<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GesCampagneGSB"
            connectionString="Data Source=tcp:301P14,49172\SQLEXPRESS;Initial Catalog=bd_GesCampagneGSB;Persist Security Info=True;User ID=&quot;Le Port&quot;;Password=Lucas"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>